// Font Stacks

$font-url--google        : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary    : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;


// Text

$base__font-size : 14px;
$base__line      : 24px;
$letter-space    : 1px;

//Grid

$g-col-width    : 70px;
$g-gutter-width : 20px;
$g-col-count    : 3;
$g-cont-max-w : 860px;