.rightButton,
.leftButton {
    font-size: large;
    color: rgba(34, 27, 74, 0.78);
    position: absolute;
    height: 30px;
}

.rightButton {
    top: 50%;
    right: 0;

}

.leftButton {
    top: 50%;
    left: 0;
    
}



