.rightButton,
.leftButton {
    font-size: large;
    color: rgba(179, 175, 206, 0.78);
    position: absolute;
    height: 30px;
    
}

.rightButton {
    top: 50%;
    right: 0;
    background-color: rgb(28, 19, 65);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    &:hover{
        cursor: pointer;
        background-color: rgb(138, 135, 196);
        color: rgba(32, 28, 63, 0.78);

        transition: background-color .5s ease-in-out,
                    color .5s ease-in-out;
    }
}

.leftButton {
    top: 50%;
    left: 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(28, 19, 65);
    &:hover{
        cursor: pointer;
        background-color: rgb(138, 135, 196);
        color: rgba(32, 28, 63, 0.78);

        transition: background-color .5s ease-in-out,
                    color .5s ease-in-out;
    }
    
}



