.grid{
    width: 95%;
    margin: 26px auto;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    // gap: 48px;
}

// .grid{
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr;
  
// }

