.modal{
    width: 375px;
    margin: 15% auto ;
    position: relative;
    text-align: center;
    background: #fff;
    // border: 2px solid red;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}